*{
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: "DS-Digital";
    src: url('/fonts/DS-DIGIB.TTF');
}

header{
    background-color: #6c40a7;
    color: #0f0220;
    padding: 10px;
}
.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h1{
    font-family: "Courier New" , Courier, monospace;
    text-align: start;
}

header img{
    width: 40px;
}

nav{
    background-color: #502a81;
    text-align: center;
    padding: 5px 0;
}
nav li{
    display: inline-block;
    list-style-type: none;
}
nav a{
    color: #0f0220;
    text-decoration: none;
    margin: 0 10px;
}

main{
    padding: 20px;
}

body{
    background-color: #DFC5EA;
    color: #1e073b;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.relogio-class{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#relogio{
    font-family: "DS-Digital";
    font-size: 20vw;
    margin: -10px;
}

footer{
    background-color: #6c40a7;
    color: #DFC5EA;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
footer img{
    width: 50px;
    margin: 20px;
}

.dark-mode{
    header{
        background-color: #0f0220;
        color: #DFC5EA;
    }
    nav{
        background-color: #0b011a;
        color: #DFC5EA;
    }
    nav a{
        color: #DFC5EA;
    }
    background-color: #1B0537;
    color: #DFC5EA;

    footer{
        background-color: #0f0220;
        color: #DFC5EA;
    }
}

h2{
    text-align: center;
}